<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.mockito.org/spring/mockito classpath:spring/mockito.xsd">

    <mockito:mock id="org.kubek2k.springockito.jira024.SomeBean" class="org.kubek2k.springockito.jira024.SomeBean"/>

</beans>
